<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta charset="utf-8">
    <title>{{ metaTitle }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta http-equiv="refresh" content="60">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        {{{body}}}
        <div class="site-footer">
            <a href="https://github.com/ConvivioTeam/unconf-live-session-grid" class="convivio-link" target="_blank">Open-sourced by Convivio</a>
        </div>
    </div>
</body>
<script src="/js/update-session-listing.js"></script>
</html>